*~
#*#
\#*\#
.DS_Store
tmp/
**/.env
.env
.env.*
!.env.example
*.backup
*.log
node_modules/
vendor/
.bashunit/
yarn-error.log
auth.json
/.zed/**
deploy.maml
backups/
.claude/
.github/skills/
.cursor/
.gemini/
.github/copilot-instructions.md
.junie/
.lerd.yaml
GEMINI.md
data/**
!.gitignore
dist/
