:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    background-color: var(--light-color);
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
body, a {
    color: var(--dark-color);
}
body > .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#header, #footer {
    padding: 10px 20px;
}
#header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;

}
#header > .branding {
    margin-left: auto;
}
#header > *, #footer > * {
    display: inline-block;
    margin: 0;
}
#header nav ul {
    list-style-type: none;
    padding: 0;
}
#header nav ul li {
    display: inline;
}
#header nav ul li:not(:last-child)::after {
    content: ' / ';
}
nav li.active, nav li.active a {
    font-weight: bold;
}
nav li:not(.active), nav li:not(.active) a {
    font-weight: normal;
}
#main {
    padding: 20px;
}

#content > :first-child {
    margin-top: 0;
}
ul.files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: start;
}

li.list-item {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
}

li.list-item figure {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;

}
li.list-item span.thumbnail {
    display: block;
    /* text-align: center; */
    width: 100%;
    height: 170px;
    margin: auto auto;
    display: flex;
    justify-content: center;
}
.list-item figcaption {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.list-item .tags {
    font-size: small;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    gap: 10px;
}
.list-item .buttons { 
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.list-item .button {
    background-color: var(--secondary-color);
    color: var(--light-color);
    opacity: 0.25;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer; /* Ajoutez cette ligne */

}
.list-item .button:hover {
    opacity: 1;
}
img.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
li.list-item .thumbnail .icon {
    font-size: 120px;
}

li.list-item .name {
}

#footer {
    border-top: 1px solid #ccc;
}

nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0.5em;
    /* display: flex;
    gap: 10px; */
}

nav > ul:not(:last-of-type) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}

nav ul ul {
    padding-left: 10px;
    font-size: 90%;
}
nav > ul > li {
    margin: 0.5em 0;
}
nav li {
    margin: 0.25em 0;
}

@media (min-width: 720px) {
    #main {
        display: grid;
        grid-template-columns: 210px 3fr;
        gap: 20px;
    }

    #nav {
        grid-column: 1;
        /* max-width: 220px; */
    }
    #content {
        grid-column: 2;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-color);
    }
    body, a {
        color: var(--light-color);
    }
}
