dialog {
    border: none;
}

dialog:modal {
    width: 100%;
    height: 100%;
    /* max-width: 100%;
    max-height: 100%; */
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px); /* Ajouter cette ligne */
}


#player {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5vw;
}
#player video {
    margin: auto;
}

.video-title {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

.vjs-control-bar .vjs-fav-button {
    font-size: 24px !important; /* Ajustez la taille comme vous le souhaitez */
}
/* .button-favorite.active, */
.tag-favorite .button.favorite,
.vjs-control-bar .vjs-fav-button.active {
    opacity: 0.5;
    color: red !important;
}
